@{
    ViewData["Title"] = "Home Page";
}
{LOCAL HOME CONTROLLER VIEW}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">End of week report</h4>
                <div class="flex-shrink-0">
                    <div class="form-check form-switch form-switch-right form-switch-md">
                        <label for="floating-form-showcode" class="form-label text-muted">Show Code</label>
                        <input class="form-check-input code-switcher" type="checkbox" id="floating-form-showcode">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="text-muted">Enter your details for your weekly update and hit submit.</p>
                <div class="live-preview">
                    <form action="#">
                        <div class="row g-3">
                            <div class="col-lg-6">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                        <option selected="">Choose...</option>
                                        <option value="ESFA">ESFA</option>
                                        <option value="DFE">DFE</option>
                                    </select>
                                    <label for="floatingSelect">Client</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="lastnamefloatingInput" placeholder="Enter your Lastname">
                                    <label for="lastnamefloatingInput">Project name</label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-floating">
                                    <textarea class="form-control" id="lastnamefloatingInput" placeholder="Enter your Lastname" style="height:200px"></textarea>
                                    <label for="lastnamefloatingInput">Details</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="emailfloatingInput" placeholder="Enter your email">
                                    <label for="emailfloatingInput">Email Address</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="passwordfloatingInput" placeholder="Enter your password">
                                    <label for="passwordfloatingInput">Password</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="passwordfloatingInput1" placeholder="Confirm password">
                                    <label for="passwordfloatingInput1">Confirm Password</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cityfloatingInput" placeholder="Enter your city">
                                    <label for="cityfloatingInput">City</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                        <option selected="">Choose...</option>
                                        <option value="1">USA</option>
                                        <option value="2">Brazil</option>
                                        <option value="3">France</option>
                                        <option value="4">Germany</option>
                                    </select>
                                    <label for="floatingSelect">Country</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="zipfloatingInput" placeholder="Enter your zipcode">
                                    <label for="zipfloatingInput">Zipcode</label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="d-none code-view">
                    <pre class="language-markup" style="height: 275px" tabindex="0"></pre>
                </div>
            </div>
        </div>
    </div>
</div>